body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #272727;
}

header {
    background-color: #272727;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-prompt {
    font-size: larger;
}

#logo {
    text-decoration: none;
    color: #33FF33;
    display: flex;
    align-items: center;
    transition: text-shadow 0.2s ease;
}

#logo:hover {
    text-shadow: 0 0 5px #3fff3f7f;
}

#logo-cursor {
    font-size: larger;
}

#logo:hover #logo-cursor {
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

h1 {
    font-size: 2.5em;
    margin: 10px;
    color: #33FF33;
    font-family: Audiowide, sans-serif;
}

nav ul {
    font-weight: bold;
    display: flex;
}

nav li {
    display: flex;
    align-items: center;
}

nav > ul > li > a {
    padding: 1vw;
    text-decoration: none;
    font-size: large;
    color: white;
    transition: transform 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
}

nav > ul > li > a:hover {
    color: #33FF33;
    text-shadow: 0 0 5px #3fff3f7f;
    transform: scale(1.1);
}

.main-content {
    padding: 2em 25vw;
    background-color: #f0f0f0;
    color: black;
}
section {
    padding: 2em;
    margin-bottom: 2em;
    color: black; 
}

footer {
    background-color: #272727;
    color: white;
    text-align: center;
    padding: 1em;
}
